<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Деталі книги</h1>

<h2>{{ about_book.title }}</h2>
<p>Автор: {{ about_book.author }}</p>

<p>Зміст: {{ about_book.description|safe }}</p>

<a class="btn btn-primary" href="{% url 'reading_start' about_book.pk %}" role="button">Почати читати</a>

<p>Загальний час читання: {{ about_book.date_of_last_reading }}</p>

<br>
<br>
<br>

<a href="{% url 'home' %}">На головну</a>


</body>
</html>